.note-card{
    display: flex;
    align-items: center;
    background-color: #b82929;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 0 10px  rgba(0, 0, 0, 0.1);
    position: relative;
}
.note-card-emoji{
    font-size: 50px;
    margin-right: 40px;
    background-color: aqua;
}
.note-card-title{
    margin: 0;
    
}
.note-card-description{
    margin: 0;
    
}
.note-card-category{
   position: absolute;
   top: 5PX;
   margin-left: 300px;
   padding: 5px 10px;
   border-radius: 5px;
   background-color: #4526c3;
   font-size: 12px;
   min-width: 70px;
   text-align: center;
}